<!DOCTYPE html>

    <html lang="es">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Maquetació en HTML y CSS</title>
            <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet"/> 
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
        </head>
        <body>
            <header class="cabeceraPrincipal">
                <div class="logo">
                    <p class="iniciales-logo">IW</p>
                    <h1>PREFORMA.COM</h1>
                </div>
            </header>
            <main>
                <h1 align="center">PREFORMA PARA TU SITIO WEB</h1>
                <p>Nombre de la pagina: tiendaonline.com.ec</p>
                <br>

                <section class="tabla">
                    <table BORDER>
                        <tr>
                        
                          <th><strong>DESCRIPCION</strong></th>
                          <br>
                          <th><strong>PRECIO/MENSUAL</strong></th>
                          <th><strong>VALOR ANUAL</strong></th>
                        </tr>
                        
                        <tr>
                          <td>Dominio</td>
                          <td>tiendaonline.com.ec</td>
                          <td>2.92</td>
                          <td>35</td>
                        </tr>
                        
                        <tr>
                          <td>Hosting plan Pro
                          </td>
                          <td>
                              <br>
                              01 dominio .com / .net / .org / .biz / .info / .me / .club(gratis)
                              <br>
                              Certificados SSL
                              <br>
                              Almacenamiento 
                              <br>
                              Webs Alojadas ilimitadas
                              <br>
                              Sub dominios Ilimitados
                              <br>
                              Cuentas de Email Ilimitadas
                              <br>
                              BD Ilimitadas MySql
                              <br>
                              Cuentas FTP Ilimitadas
                              <br>
                              Soporte Técnico 24/7
                              <br>
                              Instalador Softaculous
                              <br>
                              Ancho de banda Ilimitado
                              <br>
                              CPANEL
                          </td>
                          <td>11.09</td>
                          <td>133.04</td>
                        </tr>
                        <tr>
                        <td> 
                        </td>
                        <td>
                        </td>
                            <td>
                                subtotal
                                <br>Iva 12%
                                <br>Total 
                          </td>
                          <td>
                            168.04
                            <br>20.17
                            <br> 188.21
                        </td>
                        </tr>
                        </table>
                </section>
                </main>
            <footer class="piePagina">
                <h5 align="center">Todos los derechos reservador UTPL 2020</h5>
            </footer>
        </body>
</html>
